@import "tailwindcss";

body {
  font-family: var(--font-poppins), system-ui, sans-serif;
}

/* Font family utilities */
.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}
